body {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 1170px;
}

div {
	font-family: "Josefin Sans", sans-serif;
}


/*Header - logo, name*/

header {
	display: flex;
	flex-wrap: wrap;
}	

.logo-container {
	width: 20%;
	display: flex;
	align-items: center;
}

.udacity-logo {
	width: 60px;
	height: 60px;
}

.description-container {
	width: 80%;
}

.name {
	text-align: right;
	color: #02b3e4;
	margin-bottom: 5px;
}	

.position {
	text-align: right;
	color: #7d97ad;
	margin-top: 0;
}	


/*Main image*/
.main-image {
	background-size: cover;
	background-image: url(../img/work-space.jpg);
	text-align: center;
	height: 589px;
	display: flex;
	align-items: center;
  	justify-content: center;
	width: 100%;
}

.centered-header {
	color: #02b3e4;
    font-size: 250%;
}

.centered-text {
	color: #000;
	line-height: 180%;
}


/*Projects*/

.project-image {
	width: 300px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
}	

.works-headline {
	text-align: center;
	color: #000;
}

.projects-item {
	width: 33.33%;
	text-align: center;
}

.project-name {
    color: #7d97ad;
}


/*Footer - credits*/

footer {
	text-align: center;
}


/*Responsive design*/

@media screen and (max-width: 300px) {
    .container {
    	width: 100%;
    }

    .logo-container {
    	width: 100%;
    	justify-content: center;
		margin-top: 20px;
    }

    .description-container {
		width: 100%;
	}

	.name {
		text-align: center;
	}	

	.position {
		text-align: center;
	}	

    .projects-item {
    	width: 100%;
    	margin-bottom: 20px;
    }

    .project-image {
    	width: 80%;
    }

    .centered-header {
	    font-size: 120%;
	}

	.centered-text {
	    font-size: 90%;
	}

	.main-image {
		height:50vw;
	}
}


@media screen and (min-width: 301px) and (max-width: 433px) {
    .container {
    	width: 100%;
    }

    .logo-container {
    	width: 100%;
    	justify-content: center;
		margin-top: 20px;
    }

    .description-container {
		width: 100%;
	}

	.name {
		text-align: center;
	}	

	.position {
		text-align: center;
	}	

    .projects-item {
    	width: 100%;
    	margin-bottom: 20px;
    }

    .project-image {
    	width: 80%;
    }

    .main-image {
		height:50vw;
	}

	.centered-header {
		font-size: 130%;
	}

	.centered-text {
	    font-size: 90%;
	}
}


@media screen and (min-width: 434px) and (max-width: 768px) {
    .container {
    	width: 100%;
    }

    .projects-item {
    	width: 100%;
    }

    header {
    	padding-left: 30px;
    	padding-right: 30px;
    }

    .main-image {
		height:50vw;
	}

	.centered-header {
		font-size: 160%;
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .container {
    	width: 100%;
    }

    .project-image {
		width: 90%;
	}

	.upcoming-project {
		width: 90%;
	}

	header {
    	padding-left: 30px;
    	padding-right: 30px;
    }

    .main-image {
		height:50vw;
	}
}